@{
    ViewData["Title"] = "Confirm you wish to delete.";
}
@model TagTool.Data.Models.Report

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-asp-controller="Report" asp-action="ViewReports" asp-route-orderBy="">View All Reports</a></li>
    <li class="breadcrumb-item" >View Report #@Model.ReportID</li>
    <li class="breadcrumb-item active" aria-current="page">Confirm Delete of Report #@Model.ReportID</li>
  </ol>
</nav>

<h3> Report ID: @Model.ReportID</h3>

<!-- Map -->
<input type="hidden" id="Longitude" value="@Model.Longitude" />
<input type="hidden" id="Latitude" value="@Model.Latitude" />

<div id="mapR"></div>

<!-- Info -->

<div class="text-center">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>@Model.Latitude</td>
      <td>@Model.Longitude</td>
    </tr>
  </tbody>
</table>

<!-- Info table -->

<div class="row">
  <div class="col-md-4">
    <h4>Created at</h4>
    <p>@Model.CreatedAt <br> @Model.CreatedAtPretty()</p>
  </div>
  <div class="col-md-4">
    <h4>3 Word Address</h4>
    <p>@Model.ThreeWordAddress</p>
  </div>
  <div class="col-md-4">
     <h4>Active</h4>
      <p>@Model.ActivePretty()</p>
  </div>
</div>

<!-- Text Box -->
<h4> Additional Information: </h4>
@Model.AdditionalInfo

<!-- Buttons -->
<br>
<form asp-action="ConfirmDelete">
    <input type="hidden" asp-for="ReportID" class="form-control"/>
    <div class="form-group">
        <a class="btn pinkHollow" asp-action="ViewReport" asp-route-Id="@Model.ReportID">Cancel</a>
        <input type="submit" value="Delete" class="btn pinkSolid"/>
        
    </div>
  
</form>
</div>

<!-- Map Loading Script-->
@{ var MapsAPI = TempData["MapsAPIKey"] ?? null;}
<script src="~/js/LoadReportMap.js"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=@MapsAPI&callback=initMap">
</script>